# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [19]:
import pandas as pd
import numpy as np
import statsmodels as sm
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
initial_data = pd.read_csv('zillow_data.csv')
print(len(initial_data))
initial_data.head(10)

14723

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
8,91940,77449,Katy,TX,Houston,Harris,9,95400.0,95600.0,95800.0,...,166800,167400,168400,169600,170900,172300,173300,174200,175400,176200
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,766000.0,771100.0,776500.0,...,3767700,3763900,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500

In [21]:
# to view all NaN values for median housing price in zip code
columns = list(initial_data.columns)
nans = list(initial_data.isna().sum())
for item in zip(columns, nans):
    print(item)

('RegionID', 0)
('RegionName', 0)
('City', 0)
('State', 0)
('Metro', 1043)
('CountyName', 0)
('SizeRank', 0)
('1996-04', 1039)
('1996-05', 1039)
('1996-06', 1039)
('1996-07', 1039)
('1996-08', 1039)
('1996-09', 1039)
('1996-10', 1039)
('1996-11', 1039)
('1996-12', 1039)
('1997-01', 1039)
('1997-02', 1039)
('1997-03', 1039)
('1997-04', 1039)
('1997-05', 1039)
('1997-06', 1039)
('1997-07', 1038)
('1997-08', 1038)
('1997-09', 1038)
('1997-10', 1038)
('1997-11', 1038)
('1997-12', 1038)
('1998-01', 1036)
('1998-02', 1036)
('1998-03', 1036)
('1998-04', 1036)
('1998-05', 1036)
('1998-06', 1036)
('1998-07', 1036)
('1998-08', 1036)
('1998-09', 1036)
('1998-10', 1036)
('1998-11', 1036)
('1998-12', 1036)
('1999-01', 1036)
('1999-02', 1036)
('1999-03', 1036)
('1999-04', 1036)
('1999-05', 1036)
('1999-06', 1036)
('1999-07', 1036)
('1999-08', 1036)
('1999-09', 1036)
('1999-10', 1036)
('1999-11', 1036)
('1999-12', 1036)
('2000-01', 1036)
('2000-02', 1036)
('2000-03', 1036)
('2000-04', 1036)
('2000-05', 1036)
('2000-06', 1036)
('2000-07', 1036)
('2000-08', 1036)
('2000-09', 1036)
('2000-10', 1036)
('2000-11', 1036)
('2000-12', 1036)
('2001-01', 1036)
('2001-02', 1036)
('2001-03', 1036)
('2001-04', 1036)
('2001-05', 1036)
('2001-06', 1036)
('2001-07', 1036)
('2001-08', 1036)
('2001-09', 1036)
('2001-10', 1036)
('2001-11', 1036)
('2001-12', 1036)
('2002-01', 1036)
('2002-02', 1036)
('2002-03', 1036)
('2002-04', 1036)
('2002-05', 1036)
('2002-06', 1036)
('2002-07', 1036)
('2002-08', 1036)
('2002-09', 1036)
('2002-10', 1036)
('2002-11', 1036)
('2002-12', 1036)
('2003-01', 1036)
('2003-02', 1036)
('2003-03', 1036)
('2003-04', 1036)
('2003-05', 1036)
('2003-06', 1036)
('2003-07', 918)
('2003-08', 918)
('2003-09', 918)
('2003-10', 918)
('2003-11', 918)
('2003-12', 918)
('2004-01', 887)
('2004-02', 887)
('2004-03', 887)
('2004-04', 887)
('2004-05', 887)
('2004-06', 887)
('2004-07', 866)
('2004-08', 866)
('2004-09', 866)
('2004-10', 866)
('2004-11', 866)
('2004-12', 866)
('2005-01', 814)
('2005-02', 814)
('2005-03', 801)
('2005-04', 801)
('2005-05', 801)
('2005-06', 801)
('2005-07', 723)
('2005-08', 723)
('2005-09', 723)
('2005-10', 723)
('2005-11', 723)
('2005-12', 723)
('2006-01', 667)
('2006-02', 667)
('2006-03', 667)
('2006-04', 667)
('2006-05', 667)
('2006-06', 667)
('2006-07', 640)
('2006-08', 640)
('2006-09', 640)
('2006-10', 640)
('2006-11', 640)
('2006-12', 640)
('2007-01', 620)
('2007-02', 620)
('2007-03', 620)
('2007-04', 620)
('2007-05', 620)
('2007-06', 620)
('2007-07', 613)
('2007-08', 613)
('2007-09', 613)
('2007-10', 613)
('2007-11', 613)
('2007-12', 613)
('2008-01', 607)
('2008-02', 607)
('2008-03', 607)
('2008-04', 607)
('2008-05', 607)
('2008-06', 607)
('2008-07', 598)
('2008-08', 598)
('2008-09', 598)
('2008-10', 598)
('2008-11', 598)
('2008-12', 598)
('2009-01', 587)
('2009-02', 587)
('2009-03', 587)
('2009-04', 587)
('2009-05', 587)
('2009-06', 587)
('2009-07', 580)
('2009-08', 580)
('2009-09', 580)
('2009-10', 580)
('2009-11', 580)
('2009-12', 580)
('2010-01', 579)
('2010-02', 579)
('2010-03', 349)
('2010-04', 349)
('2010-05', 349)
('2010-06', 349)
('2010-07', 308)
('2010-08', 308)
('2010-09', 308)
('2010-10', 308)
('2010-11', 308)
('2010-12', 308)
('2011-01', 275)
('2011-02', 275)
('2011-03', 275)
('2011-04', 275)
('2011-05', 275)
('2011-06', 275)
('2011-07', 251)
('2011-08', 251)
('2011-09', 251)
('2011-10', 251)
('2011-11', 251)
('2011-12', 251)
('2012-01', 224)
('2012-02', 224)
('2012-03', 224)
('2012-04', 224)
('2012-05', 224)
('2012-06', 224)
('2012-07', 206)
('2012-08', 206)
('2012-09', 206)
('2012-10', 206)
('2012-11', 206)
('2012-12', 206)
('2013-01', 151)
('2013-02', 151)
('2013-03', 151)
('2013-04', 151)
('2013-05', 151)
('2013-06', 151)
('2013-07', 109)
('2013-08', 109)
('2013-09', 109)
('2013-10', 109)
('2013-11', 109)
('2013-12', 109)
('2014-01', 56)
('2014-02', 56)
('2014-03', 56)
('2014-04', 56)
('2014-05', 56)
('2014-06', 56)
('2014-07', 0)
('2014-08', 0)
('2014-09', 0)
('2014-10', 0)
('2014-11', 0)
('2014-12', 0)
('2015-01', 0)
('2015-02', 0)
('2015-03', 0)
('2015-04', 0)
('2015-05', 0)
('2015-06', 0)
('2015-07', 0)
('2015-08', 0)
('2015-09', 0)
('2015-10', 0)
('2015-11', 0)
('2015-12', 0)
('2016-01', 0)
('2016-02', 0)
('2016-03', 0)
('2016-04', 0)
('2016-05', 0)
('2016-06', 0)
('2016-07', 0)
('2016-08', 0)
('2016-09', 0)
('2016-10', 0)
('2016-11', 0)
('2016-12', 0)
('2017-01', 0)
('2017-02', 0)
('2017-03', 0)
('2017-04', 0)
('2017-05', 0)
('2017-06', 0)
('2017-07', 0)
('2017-08', 0)
('2017-09', 0)
('2017-10', 0)
('2017-11', 0)
('2017-12', 0)
('2018-01', 0)
('2018-02', 0)
('2018-03', 0)
('2018-04', 0)

In [22]:
initial_data[initial_data['2014-06'].isna()]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
2946,73623,35810,Huntsville,AL,Huntsville,Madison,2947,NaN,NaN,NaN,...,61000,61000,61100,61900,62800,63200,63700,65200,67500,69400
3330,58630,2116,Boston,MA,Boston,Suffolk,3331,NaN,NaN,NaN,...,1931100,1995600,2031100,2049600,2057800,2064500,2037600,2056900,2106500,2136500
6153,73629,35816,Huntsville,AL,Huntsville,Madison,6154,NaN,NaN,NaN,...,61500,62500,62800,63300,64100,65100,66600,68700,70400,71300
7587,78091,46320,Hammond,IN,Chicago,Lake,7588,NaN,NaN,NaN,...,66000,67900,68200,68700,69600,69400,68500,68500,68200,67200
7635,78566,47371,Portland,IN,NaN,Jay,7636,NaN,NaN,NaN,...,86300,86600,87400,88200,89100,90300,90400,89100,88000,88100
8263,88723,70647,Iowa,LA,Lake Charles,Calcasieu,8264,NaN,NaN,NaN,...,111600,117900,125300,128900,129600,130800,132100,132700,132400,132300
8338,73630,35824,Huntsville,AL,Huntsville,Madison,8339,NaN,NaN,NaN,...,217200,216800,216300,215100,215700,218200,222000,226200,230300,231800
8668,75206,39202,Jackson,MS,Jackson,Hinds,8669,NaN,NaN,NaN,...,152700,154300,155800,157500,158100,158300,158400,157900,156600,155300
8746,90561,74857,Norman,OK,Oklahoma City,Cleveland,8747,NaN,NaN,NaN,...,141800,141800,141700,141700,142000,143600,145600,145700,143900,141900
8780,78097,46327,Hammond,IN,Chicago,Lake,8781,NaN,NaN,NaN,...,75200,74600,73200,72500,72800,73200,72700,72900,74000,74400
9054,73597,35759,Meridianville,AL,Huntsville,Madison,9055,NaN,NaN,NaN,...,164000,161800,159600,159300,160700,164000,168400,172600,175700,177100
9218,71997,32435,Defuniak Springs,FL,Crestview-Fort Walton Beach-Destin,Walton,9219,NaN,NaN,NaN,...,102100,102600,103600,103800,102700,102400,103300,104400,105700,106700
9594,76778,43619,Northwood,OH,Toledo,Wood,9595,NaN,NaN,NaN,...,98800,100200,101100,101800,102100,102500,102900,101400,98200,96300
9684,99311,97467,Reedsport,OR,Roseburg,Douglas,9685,NaN,NaN,NaN,...,156200,156200,156100,157400,158100,157700,158100,160200,163200,164800
9739,59298,4009,Bridgton,ME,Portland,Cumberland,9740,NaN,NaN,NaN,...,175600,177300,179000,179800,181900,183800,184800,185400,188500,192200
10373,87291,66739,Galena,KS,NaN,Cherokee,10374,NaN,NaN,NaN,...,46900,47000,46500,45800,45000,44300,43800,43800,43600,43400
10453,88587,70431,Bush,LA,New Orleans,Saint Tammany,10454,NaN,NaN,NaN,...,168000,171100,176300,180200,181600,179800,178700,181500,184800,183900
10599,73598,35760,New Hope,AL,Huntsville,Madison,10600,NaN,NaN,NaN,...,104900,105500,105100,102300,99500,99300,101500,104300,107000,108500
10781,75219,39216,Jackson,MS,Jackson,Hinds,10782,NaN,NaN,NaN,...,161200,163600,166700,169600,172000,172800,172400,170800,169000,167400
11073,79629,49245,Homer,MI,Battle Creek,Calhoun,11074,NaN,NaN,NaN,...,72900,73000,73200,74300,76800,80000,82300,83600,83800,83700
11391,81629,54230,Reedsville,WI,Manitowoc,Manitowoc,11392,NaN,NaN,NaN,...,138100,139600,142300,143400,139000,131400,128600,129600,128900,127100
11521,77878,45872,North Baltimore,OH,Toledo,Wood,11522,NaN,NaN,NaN,...,79800,78500,78300,78300,77200,76500,75700,75300,76200,77800
11523,82857,56441,Crosby,MN,Brainerd,Crow Wing,11524,NaN,NaN,NaN,...,100100,101800,103800,105200,105100,104200,102800,101700,101200,101300
11767,78635,47512,Bicknell,IN,Vincennes,Knox,11768,NaN,NaN,NaN,...,53300,54000,54400,54600,54900,54900,54600,53300,51400,50200
11772,67332,22625,Cross Junction,VA,Winchester,Frederick,11773,NaN,NaN,NaN,...,225800,229100,232000,234200,235600,237900,240400,241700,242800,243900
11888,64657,16625,Greenfield,PA,Altoona,Blair,11889,NaN,NaN,NaN,...,100400,100300,99200,98800,96800,93600,92600,92200,90600,89300
11905,69706,28088,Landis,NC,Charlotte,Rowan,11906,NaN,NaN,NaN,...,119400,120800,122200,123000,123200,122800,122300,122200,123300,124500
11922,79637,49253,Manitou Beach,MI,Adrian,Lenawee,11923,NaN,NaN,NaN,...,153500,154100,155100,156800,161300,165900,165700,163900,170300,179200
11969,89717,72718,Cave Springs,AR,Fayetteville,Benton,11970,NaN,NaN,NaN,...,251700,251300,250200,249200,248500,249800,252600,254600,255300,255900
11988,78538,47336,Dunkirk,IN,NaN,Jay,11989,NaN,NaN,NaN,...,80800,81200,81700,82900,84300,86200,86300,84000,82100,81800
12049,88638,70515,Basile,LA,NaN,Evangeline,12050,NaN,NaN,NaN,...,75000,75700,76000,75600,72400,68100,65700,65500,66700,68100
12187,76690,43450,Pemberville,OH,Toledo,Wood,12188,NaN,NaN,NaN,...,132400,132500,134300,135500,135600,135400,134600,133300,132400,132000
12193,87644,67544,Hoisington,KS,Great Bend,Barton,12194,NaN,NaN,NaN,...,57700,55600,54800,55700,55900,55700,55500,56900,58500,59100
12408,85788,62922,Creal Springs,IL,Carbondale,Williamson,12409,NaN,NaN,NaN,...,138100,141300,144600,146200,147700,148200,146900,145600,145500,145900
12673,77203,44491,West Farmington,OH,Youngstown,Trumbull,12674,NaN,NaN,NaN,...,122400,123600,124900,125900,126500,126700,127400,128200,130400,132500
12684,89991,73173,Oklahoma City,OK,Oklahoma City,Oklahoma,12685,NaN,NaN,NaN,...,286000,282000,280600,279700,278500,279000,283800,290600,296700,300800
12887,86745,65259,Huntsville,MO,Moberly,Randolph,12888,NaN,NaN,NaN,...,110600,112500,113200,111000,106900,104100,102800,102400,104100,106800
13078,81145,53015,Cleveland,WI,Manitowoc,Manitowoc,13079,NaN,NaN,NaN,...,159400,161800,166100,168100,163000,155500,154600,155300,152100,148800
13185,85340,62216,Aviston,IL,St. Louis,Clinton,13186,NaN,NaN,NaN,...,163300,162900,162500,162600,162200,161000,160500,160100,159600,159000
13348,85752,62882,Sandoval,IL,Centralia,Marion,13349,NaN,NaN,NaN,...,27900,27500,27300,27300,27700,28300,29000,29100,28900,28900
13368,99281,97435,Drain,OR,Roseburg,Douglas,13369,NaN,NaN,NaN,...,142200,145900,150000,153100,154400,154700,154500,156000,159400,161600
13573,80051,49950,Mohawk,MI,Houghton,Keweenaw,13574,NaN,NaN,NaN,...,114100,116500,117500,121500,127800,133200,135100,134200,133200,134200
13584,71553,31527,Brunswick,GA,Brunswick,Glynn,13585,NaN,NaN,NaN,...,394700,399200,400100,398800,400900,406400,413600,414200,425400,444700
13603,78567,47373,Redkey,IN,NaN,Jay,13604,NaN,NaN,NaN,...,81500,82600,83900,85100,86000,87700,87400,84500,82000,82000
13604,85741,62870,Odin,IL,Centralia,Marion,13605,NaN,NaN,NaN,...,33200,33100,33100,33100,33400,33400,33500,33400,33400,33500
13615,99337,97499,Yoncalla,OR,Roseburg,Douglas,13616,NaN,NaN,NaN,...,125900,127900,129200,131400,133900,135800,136900,137800,139900,142400
13811,88122,68730,Crofton,NE,NaN,Knox,13812,NaN,NaN,NaN,...,126400,129200,131000,132600,135000,137800,139300,141000,145100,149200
13820,76701,43466,Wayne,OH,Toledo,Wood,13821,NaN,NaN,NaN,...,79400,79200,79000,79300,79800,79300,77300,76500,78000,79900
14063,76685,43443,Luckey,OH,Toledo,Wood,14064,NaN,NaN,NaN,...,118700,119400,120600,121200,121100,121200,120700,120600,120800,121500
14157,76663,43406,Bradner,OH,Toledo,Wood,14158,NaN,NaN,NaN,...,72700,72100,71700,71400,70700,70600,70800,71300,71700,72600
14206,66105,19954,Houston,DE,Dover,Kent,14207,NaN,NaN,NaN,...,157000,156400,155700,154900,153200,152000,152500,153100,153200,153500
14207,85339,62215,Albers,IL,St. Louis,Clinton,14208,NaN,NaN,NaN,...,151300,147900,144500,143300,142900,142100,141400,141600,142100,141800
14267,79020,48157,Luna Pier,MI,Monroe,Monroe,14268,NaN,NaN,NaN,...,95700,96500,97000,95900,93400,92500,94200,95100,94000,93100
14341,79832,49636,Glen Arbor,MI,Traverse City,Leelanau,14342,NaN,NaN,NaN,...,580500,594300,610000,636300,677900,696300,675300,654500,652200,653400
14577,85489,62440,Lerna,IL,Charleston,Coles,14578,NaN,NaN,NaN,...,81500,83500,85200,86400,88000,89900,90800,90600,90800,90900
14707,69681,28039,East Spencer,NC,Charlotte,Rowan,14708,NaN,NaN,NaN,...,27300,26400,25500,25100,25100,25600,25800,26600,27700,28300

In [23]:
cut_data = initial_data.drop(['RegionID', 'City', 'State', 'CountyName', 'SizeRank', 'Metro'], axis=1)
cut_data.rename({'RegionName': 'zipcode'}, axis=1, inplace=True)
cut_data.head()

,zipcode,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,60657,334200.0,335400.0,336500.0,337600.0,338500.0,339500.0,340400.0,341300.0,342600.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,75070,235700.0,236900.0,236700.0,235400.0,233300.0,230600.0,227300.0,223400.0,219600.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,77494,210400.0,212200.0,212200.0,210700.0,208300.0,205500.0,202500.0,199800.0,198300.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,60614,498100.0,500900.0,503100.0,504600.0,505500.0,505700.0,505300.0,504200.0,503600.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,79936,77300.0,77300.0,77300.0,77300.0,77400.0,77500.0,77600.0,77700.0,77700.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

# Step 2: Data Preprocessing

In [24]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

In [25]:
cut_data.columns = [cut_data.columns[0]] + list(get_datetimes(cut_data))

# Step 3: Reshape from Wide to Long Format

In [26]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 
                                  'CountyName', 'RegionID', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').agg({'value':'median'})

In [27]:
monthly_medians = melt_data(initial_data)

In [33]:
zipcodes = []
time_series = []
for row in range(len(cut_data)):
    zipcodes.append(int(cut_data.iloc[row]['zipcode']))
    series = pd.DataFrame(cut_data.iloc[row].iloc[1:]).rename({row:'values'}, axis=1)
    time_series.append(series)

In [ ]:
for zipcode in time_series:
    for j in range(len(zipcode)):
        if np.isnan(zipcode.iloc[-1-j]):
            base = zipcode.iloc[-j]
            ratio = monthly_medians.iloc[-1-j] / monthly_medians.iloc[-j]
            zipcode[-1-j] = (base * ratio)

In [14]:
zipcodes[:5]

[60657, 75070, 77494, 60614, 79936]

In [15]:
time_series[2946]

             values
1996-04-01      0.0
1996-05-01      0.0
1996-06-01  35184.0
1996-07-01  35184.0
1996-08-01  35219.0
1996-09-01  35254.0
1996-10-01  35272.0
1996-11-01  35325.0
1996-12-01  35396.0
1997-01-01  35502.0
1997-02-01  35643.0
1997-03-01  35749.0
1997-04-01  35820.0
1997-05-01  35891.0
1997-06-01  35962.0
1997-07-01  36033.0
1997-08-01  36139.0
1997-09-01  36210.0
1997-10-01  36351.0
1997-11-01  36492.0
1997-12-01  36668.0
1998-01-01  36844.0
1998-02-01  37056.0
1998-03-01  37268.0
1998-04-01  37444.0
1998-05-01  37656.0
1998-06-01  37832.0
1998-07-01  38008.0
1998-08-01  38220.0
1998-09-01  38432.0
...             ...
2015-11-01  55800.0
2015-12-01  56300.0
2016-01-01  56800.0
2016-02-01  57300.0
2016-03-01  57600.0
2016-04-01  58000.0
2016-05-01  58500.0
2016-06-01  58000.0
2016-07-01  57300.0
2016-08-01  57000.0
2016-09-01  56800.0
2016-10-01  56900.0
2016-11-01  57600.0
2016-12-01  57500.0
2017-01-01  57000.0
2017-02-01  57300.0
2017-03-01  58500.0
2017-04-01  59500.0
2017-05-01  59900.0
2017-06-01  60400.0
2017-07-01  61000.0
2017-08-01  61000.0
2017-09-01  61100.0
2017-10-01  61900.0
2017-11-01  62800.0
2017-12-01  63200.0
2018-01-01  63700.0
2018-02-01  65200.0
2018-03-01  67500.0
2018-04-01  69400.0

[265 rows x 1 columns]

# Step 4: EDA and Visualization
Perform basic EDA as you would building any model, then create at least 3 visualizations.  At least one of the visualizations should have time on the x-axis.  Axes should be labeled and any text should be legible.

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 5: ARIMA Modeling
Be sure to validate your model.  Make a forecast for the future and describe the trend.

# Step 6: Interpreting Results
Give a detailed interpretation of results including the relationship between the inputs and output of the model.

# Working Zone

In [13]:
for zipcode in time_series:
    for i in range(1, len(zipcode)+1):
        if zipcode.iloc[-i].values == 0:
            zipcode.iloc[-i] = round(float(zipcode.iloc[-i+1].values * (melted_data.iloc[-i].values / 
                                                                        melted_data.iloc[-i+1].values)), 0)